@import url('https://fonts.googleapis.com/css?family=Limelight|Montserrat&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
  max-width: 100vw;
  overflow-x: hidden;
}

/*****  REUSABLE CSS  *****/
#hero, #testimonials{
  max-height:calc(100vh - 80px);
}
#hero, #testimonials, #howTo,#iconsWrapper{
  margin:4em 5em;
}
#whatRebozo, #whyRebozo{
  margin:4em 15em;
}

h1, h2, h3{
  text-align: center;
    font-family: 'Limelight', cursive, 'Arial';
    /* letter-spacing:2px; */
}
p, div, span, a{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
img{
  width:100%;
}

button{
  background-color: #CAE8DC;
}
.backgroundLines{
  background-image: url(pattern.svg);
  background-size: contain;
  position: absolute;
  opacity: .1;
  bottom:10vh;
  top:0;
  left:0;
  right:-4em;
  width:150
}
/*****   MENU    *****/
header {
  background:rgba(250,250,250, .9);
  max-width: 100vw;
  width: 100%;
  position: fixed;
  z-index: 80;
  top: 0;
  text-align: right;
  display: grid;
  grid-template-columns: .5fr 2fr;
  height:70px;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}

.deskmenu{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 1.2em;
 }
 a,
  a:visited, a:active{
    color:black;
    text-decoration: none;
  }
 .deskmenu a, .hiddenMenu a{
     color:#d09cab;
     font-weight: bold;
 }

 .logo{
   text-align: left;;
 }
 .menu {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 10vh 2em 2em;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s;
}
.menu a {
  display: block;
  padding: 0.5em 0;
  font-size: 2em;
}

svg.menuIcon {
    cursor: pointer;
    margin: 1.5em 0;
    /* z-index: 15; */
    fill: #000;
    height: 40px;
    width: 40px;
    display: none;
  }
  
  svg.menuIcon rect {
    height: 8px;
    transition: all 0.6s;
  }
  svg.menuIcon rect:nth-child(1) {
    transform-origin: left top;
  }
  
  svg.menuIcon rect:nth-child(3) {
    transform-origin: left bottom;
  }
  
   .hiddenMenu {
    transform: translateX(-200vw);
  }
  
  .fadeOut {
    opacity: 0;
  }
  
  .rotateUp {
    transform: rotate(-45deg) translate(18px, 41px);
  }
  
  .rotateDown {
    transform: rotate(45deg) translate(17px, -14px);
  }
  
/*****   MENU ENDS  *****/
/*****  FOOTER  *****/
footer{
  text-align: center;
  background-image: url(images/rebozo_many.jpg);
  background-repeat:no-repeat;
  padding:2em;
  background-size:cover;
}
footer div{
  background:rgba(250,250,250, .8);
  margin:auto;
  padding:2em 0;
  width:40vw;
}
footer p{
  margin: .5em 0;
  text-align: center;
}
footer p:last-child{
  margin-top:2em;
}


/****   HERO   *****/
#hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr .5fr .5fr;
  margin-top:100px;
  padding-top:1em;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-content: center;
}

#hero h1, .slideshowText{
  text-align: right;
  grid-column: 1/-1;
  align-self: center;
  justify-self: end;
}
#hero h1{
  grid-row: 1;
  z-index: 1;
}
.slideshowText{
  height:15em;
  z-index: 1;
  grid-row: 2;
  background-color:rgba(250,250,250, .7);
  width:50%;
  padding:2em;
  animation: fadeInOut .5s;
}
.slideshowText p, .slideshowText h3{
  text-align: right;
}
/* slideshow */
.slideshow{
grid-column: 2;
grid-row: 3;
z-index: 0;
text-align: right;
align-self: end;
list-style-type: none;
}
.slideshow li{
  display: inline;
}
.slideshow li img{
  width:20%;
  cursor: pointer;
  /* transition: all .3s;
  opacity: 0;
  transform: translateX(-10%);
  animation: moveIn .3s ease-in-out forwards; */
}
.slideshow .mainImg{
  padding:2em;
  background-color:#ddd;
  left:0;
  bottom: 0;
  position: absolute;
  width: 60%;
  height:75vh;
  transition: opacity .3s, transform .3s;
}
.slideshow .mainImg img{
  height:100%;
  width:auto;
  align-self:center;
  animation: moveIn 8s ease-in-out forwards;
}

@keyframes moveIn{
  0%{
    opacity: 0;
    transform: translatex(10%);
  }
  1%{
    opacity: 1;
    transform: translatex(0);
  }
  98%{
    opacity: 1;
    transform: translatex(0);
  }
  100%{
    opacity: 0;
    transform: translatex(-10%);
  }
}
@keyframes moveOut{
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}
/*  slideshow ends  */


/*****    WHAT IS A REBOZO SECTION  *****/
#whatRebozo {
  columns:2;
  column-rule: 2px solid #F4DCE3;
}
#whatRebozo h1{
  column-span: all;
  margin-bottom: 1em;
}
#whatRebozo p{
  text-align: left;
  margin:1em 0;
}

/*****    WHY USE A REBOZO SECTION  *****/

#whyRebozo{
  display:grid;
  /* grid-template-columns: 1fr 1fr; */
  justify-content: center;
  margin:4em 0;
  position: relative;
  /* height:calc(100vh - 70px); */
}
#whyRebozo .backgroundLines{
  background-repeat: no-repeat;
  right:0;
}
.section{
  padding:2em 15em 0;
  margin:0;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h4{
  font-size: 1em;
  text-align: left;
  margin:0;
  padding:0;
}
.line{
  margin: .5em 0;
  height: 0px;
  width: 50%;
  border: 1px solid #F4DCE3;
}
.during{
    /* padding-right: 20em; */
    
    grid-template-rows:.1fr 1fr;
}
.asCarrier{
  grid-template-columns: repeat(4, 1fr);
  columns: 2;
  column-fill:auto;
}


#whyRebozo h1, .subHeader, #whyRebozo h3{
  grid-column: 1/-1;
}
#whyRebozo h3{
  font-size: 1.5em;
  margin:1em 0;
  grid-row:1;
}
.pro{
  padding:.5em 1em;
}
/*****    ICON SECTION  *****/
#iconsWrapper{
  height:calc(100vh - 70px);
  transition: all .3s;
  /* display: grid; */
  align-items: center;
  /* margin:0 5em; */
}
#icons{
  display: grid;
  /* justify-items: center; */
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-gap: 1em; */
  transition: all .3s;
 
  /* grid-template-rows: .5fr 1fr 1fr; */
}
#icons h1{
  grid-column: 1/-1;
}

.icon{
  margin:1.5em 0;
}
.icon img{
  display: block;
  margin:auto;
  padding:5%;
  width:10vw;
  clip-path: circle(40%);
  background-color:#CAE8DC;
 justify-content: center;
}

#icons.shrinkAndMove{
  position:fixed;
  top:0;
  /* width:200px;
  right:5vw; */
  z-index: 10;
  transition: all .3s;
  margin:0;
  animation: moveToRight .3s forwards ease;
}
@keyframes moveToRight{
  100%{
    /* top:50px; */
    /* transform: scale(.); */
    transform:translate(70vw, 70px);
  }
}

.shrinkAndMove img{
  width:5vw;
  padding:15%;
}
.shrinkAndMove h3, .shrinkAndMove h1{
  display: none;
}

.highlightedIcon{
  opacity:1;
  transform:scale(1.3 );
}
/*****  HOW TO USE A REBOZO      *****/


.howToContainer{
  margin:5em 15em 5em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.howToText{
  margin:2em 2em 2em 3em;
}
.howToContainer p{
  margin:1em 0;
}
.howToImgFrame{
  margin:auto;
  background-color:#ddd;
}
.howToImgFrame img{
  transform:translate(1em,-1em);
}
#howTo h1{
  grid-column: 1/-1;
}